.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    font-size: 100px;
    background-color: white;
    color: black;
    border: 2px solid yellow;
}

.button1:hover {
    font-size: 150px;
    background-color: yellow;
    color: black;
}

.button2 {
    font-size: 100px;
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button2:hover {
    font-size: 150px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.left-side {
    width: 50%; /* Adjust width as needed */
    height: 100%;
    border-right: 2px solid grey; /* Optional: Add a border to the right */
}

.right-side {
    width: 50%; /* Adjust width as needed */
    height: 100%;
    border-right: 2px solid grey; /* Optional: Add a border to the right */
}

.Games {
    background-color: orange;
    color: black;
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .Games:hover {
 font-size: xx-large;
 background-color: yellow;
 }
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row; /* Ensure items are displayed in a row */
}

